@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Schoolbell&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
* img {
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

input:focus {
  outline: none;
}

.btn {
  height: 60px;
  max-width: 185px;
  background-color: #144557;
  border-radius: 30px;
  padding: 15px 30px;
}
.btn:hover {
  color: #30b6df;
}

.nav_link_color {
  color: #a1b5bb;
}

.btn3 {
  background-color: transparent !important;
}
.btn3:hover {
  background-color: #ffa63a;
}

.svg_imgs {
  width: 30px;
  height: 30px;
}

.sec_padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.m_color {
  background-color: #04394a;
}

.btn2 {
  background-color: #ffa63a !important;
  color: white;
}
.btn2:hover {
  color: #e7e2de;
}

header {
  background-color: #04394a;
  padding: 1rem 0;
  transition: 1s;
  box-shadow: 0px 73px 80px rgba(247, 242, 242, 0.062);
}

#navbar {
  overflow: hidden;
  background-color: #04394a;
  transition: 1s;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.con_nav {
  width: 200px;
}

.Toggle {
  outline: none !important;
}

.nav_link_color:hover {
  color: #ffa800;
}

.navbar-toggler:focus {
  box-shadow: none;
}

footer .brend_icon {
  width: 80px;
  height: 50px;
}
footer .brend_icons {
  width: 55px;
  height: 30px;
  padding: 5px;
  padding-top: 10px;
}
footer .pags_link h3 {
  color: #08546C;
}
footer .pags_link h3:hover {
  color: #FFA800;
}
footer .pags_link a {
  color: #787878;
}
footer .pags_link a:hover {
  color: #FFA800;
}
@media only screen and (max-width: 575px) {
  footer .footer_itm {
    padding-left: 30px;
  }
}

.hero {
  padding-top: 80px;
  padding-bottom: 200px;
  background-image: url(../../images/blur.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.card {
  border: none;
}

.hero_text {
  font-size: 14px;
}

.hero_card_top {
  font-family: "Schoolbell";
  padding: 15px 30px;
}

.border_hero {
  border: 2px solid wheat;
  background: rgba(255, 255, 255, 0.08);
  border: 3px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(29px);
          backdrop-filter: blur(29px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
  padding: 10px 16px;
  font-size: 10px;
  max-width: 240px;
  margin-top: 200px;
  margin-left: 450px;
}

.hero_card_bottom {
  max-width: 1100px;
  max-height: 30%;
  margin-top: 100px;
  background: #ffffff;
  box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  padding: 58px 10px;
  margin-top: 1;
}
.hero_card_bottom h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  color: #265a6a;
  margin: auto;
}
.hero_card_bottom h1 {
  color: #265a6a;
  font-weight: 600;
  font-size: 48px;
  line-height: 22px;
  margin-bottom: 20px;
}
.hero_card_bottom p {
  color: #265a6a;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.product {
  margin-top: 170px;
}
.product div h6 {
  color: #08546c;
  font-weight: 400;
  font-size: 24px;
  line-height: 60px;
}
.product div h2 {
  color: #08546c;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  max-width: 400px;
  margin: auto;
}
.product div div {
  margin: 30px auto;
}
.product div div div div {
  background-color: #ffffff;
  box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);
  margin-bottom: -20px;
}
.product div div div .card_color:hover {
  background-color: #08546c;
  color: #ffffff;
}
.product div div div .card_color:hover img {
  background-color: #ffa800;
  border-radius: 50%;
}

.view {
  padding-bottom: 100px;
}
.view div h2 {
  font-weight: 600;
  font-size: 45px;
  line-height: 56px;
  color: #08546c;
}
.view div p {
  max-width: 569px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #757575;
}

.port_card {
  max-width: 500px;
}
.port_card h5 {
  font-weight: 600;
  font-size: 30px;
  line-height: 29px;
  color: #08546c;
}
.port_card a {
  color: #08546c;
}
.port_card a:hover {
  color: #ffa800;
}
.port_card a img {
  max-width: 15px;
  height: 15px;
}
.port_card a img:hover {
  fill: #ffa800;
}

.services {
  background-image: url(../../images/blur.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.services .service_ster {
  width: 40px;
  height: 40px;
}
.services .service_ster2 {
  width: 70px;
  height: 40px;
}
.services p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.services p:nth-child(odd) {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #aabfc6;
}

.blog div div div img {
  max-width: 580px;
}
.blog div div div .blog_card {
  display: flex !important;
  flex-direction: row !important;
}
.blog div div div .carousel-control-next {
  background-image: linear-gradient(45deg, black, transparent);
}
.blog div div div div h1 {
  max-width: 260px;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #08546c;
}
.blog div div div div p {
  max-width: 340px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #757575;
}
.blog div div div div .carousel-control-next {
  background-image: linear-gradient(45deg, black, transparent);
}

@media only screen and (max-width: 992px) {
  .hero_card_bottom {
    max-width: 700px;
    padding: -10px -40px;
  }
  .hero_card_bottom ul {
    display: flex;
    flex-wrap: wrap;
  }
  .hero_card_bottom li {
    max-width: 200px;
  }
  .hero_card_bottom h3 {
    margin: auto;
  }
  .hero_card_bottom h1 {
    font-size: 20px;
  }
  .hero_card_bottom p {
    font-size: 8px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 770px) {
  .border_hero {
    display: none;
  }
  .hero_card_bottom {
    max-width: 500px;
  }
}
.product div h6 {
  font-size: 20px;
}
.product div h2 {
  font-size: 30px;
}

@media only screen and (max-width: 450px) {
  .hero_card_bottom {
    max-width: 340px;
  }
}/*# sourceMappingURL=home.css.map */