@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Schoolbell&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
* img {
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

input:focus {
  outline: none;
}

.btn {
  height: 60px;
  max-width: 185px;
  background-color: #144557;
  border-radius: 30px;
  padding: 15px 30px;
}
.btn:hover {
  color: #30b6df;
}

.nav_link_color {
  color: #a1b5bb;
}

.btn3 {
  background-color: transparent !important;
}
.btn3:hover {
  background-color: #ffa63a;
}

.svg_imgs {
  width: 30px;
  height: 30px;
}

.sec_padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.m_color {
  background-color: #04394a;
}

.btn2 {
  background-color: #ffa63a !important;
  color: white;
}
.btn2:hover {
  color: #e7e2de;
}

header {
  background-color: #04394a;
  padding: 1rem 0;
  transition: 1s;
}

.navbar_shrink {
  overflow: hidden;
  background-color: #0074d9;
  padding: 90px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.con_nav {
  width: 200px;
}

.Toggle {
  outline: none !important;
}

footer #main-footer {
  background-color: rgb(28, 30, 83);
}
footer #main-footer .top-footer {
  padding-top: 96px;
}
footer #main-footer .top-footer .left p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  margin-top: 20px;
}
footer #main-footer .top-footer .left .our-contacts {
  background-color: rgb(252, 217, 128);
  margin-top: 86px;
  padding: 17px 0 17px 37px;
}
footer #main-footer .top-footer .left .our-contacts a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.8;
  text-decoration: none;
}
footer #main-footer .top-footer .right h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
}
footer #main-footer .top-footer .right p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #F4F6FC;
  opacity: 0.8;
}
footer .footer-bottom {
  padding: 32px 0 10px 0;
}
footer .footer-bottom .left p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}
footer .footer-bottom .right .footer-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

.hero {
  padding-bottom: 200px;
}

.card {
  border: none;
}

.hero_text {
  font-size: 14px;
}

.hero_card_top {
  font-family: "Schoolbell";
  padding: 15px 30px;
}

.border_hero {
  border: 2px solid wheat;
  background: rgba(255, 255, 255, 0.08);
  border: 3px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(29px);
          backdrop-filter: blur(29px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
  padding: 10px 16px;
  font-size: 10px;
  max-width: 240px;
  margin-top: 200px;
  margin-left: 450px;
}

.hero_card_bottom {
  max-width: 1100px;
  max-height: 30%;
  margin-top: 100px;
  background: #ffffff;
  box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  padding: 58px 10px;
  margin-top: 1;
}
.hero_card_bottom h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  color: #265a6a;
  margin: auto;
}
.hero_card_bottom h1 {
  color: #265a6a;
  font-weight: 600;
  font-size: 48px;
  line-height: 22px;
  margin-bottom: 20px;
}
.hero_card_bottom p {
  color: #265a6a;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.product {
  margin-top: 170px;
}
.product div h6 {
  color: #08546c;
  font-weight: 400;
  font-size: 24px;
  line-height: 60px;
}
.product div h2 {
  color: #08546c;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  max-width: 400px;
  margin: auto;
}
.product div div {
  margin: 30px auto;
}
.product div div div div {
  background-color: #ffffff;
  box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);
  margin-bottom: -20px;
}
.product div div div .card_color {
  background-color: #08546c;
  color: #ffffff;
}

.view {
  padding-bottom: 100px;
}
.view div h2 {
  font-weight: 600;
  font-size: 45px;
  line-height: 56px;
  color: #08546c;
}
.view div p {
  max-width: 569px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #757575;
}

.port_card {
  max-width: 500px;
}
.port_card h5 {
  font-weight: 600;
  font-size: 30px;
  line-height: 29px;
  color: #08546c;
}
.port_card a {
  color: #08546c;
}
.port_card a:hover {
  color: #ffa800;
}
.port_card a img {
  max-width: 15px;
  height: 15px;
}
.port_card a img:hover {
  fill: #ffa800;
}

.services .service_ster {
  width: 40px;
  height: 40px;
}
.services .service_ster2 {
  width: 70px;
  height: 40px;
}
.services p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.services p:nth-child(odd) {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #aabfc6;
}

@media only screen and (max-width: 992px) {
  .hero_card_bottom {
    max-width: 700px;
    padding: -10px -40px;
  }
  .hero_card_bottom ul {
    display: flex;
    flex-wrap: wrap;
  }
  .hero_card_bottom li {
    max-width: 200px;
  }
  .hero_card_bottom h3 {
    margin: auto;
  }
  .hero_card_bottom h1 {
    font-size: 20px;
  }
  .hero_card_bottom p {
    font-size: 8px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 770px) {
  .border_hero {
    display: none;
  }
  .hero_card_bottom {
    max-width: 500px;
  }
}
.product div h6 {
  font-size: 20px;
}
.product div h2 {
  font-size: 30px;
}

@media only screen and (max-width: 450px) {
  .hero_card_bottom {
    max-width: 340px;
  }
}/*# sourceMappingURL=home.css.map */