header {
  background-color: #04394a;
  padding: rem 0;
  transition: 1s;
}

#navbar {
    overflow: hidden;
    background-color: #04394a;
    // padding: 90px 10px;
    transition: 1s;
    position: sticky;
    // width: 100%;
    top: 0;
    // z-index: 1;
}

.con_nav {
  width: 200px;
}

.Toggle {
  outline: none !important;
}


